<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Quick Reference
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-info">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quick Reference</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/0')">
      <ion-label class="ion-text-wrap">
        <h3>MIST</h3>
        <p>Guideline for providing a patient report</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/telephone.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/1')">
      <ion-label class="ion-text-wrap">
        <h3>12 Leads</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/bar-graph.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/2')">
      <ion-label class="ion-text-wrap">
        <h3>Rule of 9's</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/body-scan.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/3')">
      <ion-label class="ion-text-wrap">
        <h3>Glasgow Coma Score</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/pie-chart.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/4')">
      <ion-label class="ion-text-wrap">
        <h3>Vital Signs</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/penis.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/5')">
      <ion-label class="ion-text-wrap">
        <h3>Common Lab Values</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/microscope.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/6')">
      <ion-label class="ion-text-wrap">
        <h3>APGAR</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/toddler.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/7')">
      <ion-label class="ion-text-wrap">
        <h3>Trauma Level Criteria (I, II, III)</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/trauma.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/8')">
      <ion-label class="ion-text-wrap">
        <h3>913 - Needle Decompression</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/ND.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/9')">
      <ion-label class="ion-text-wrap">
        <h3>914 - IO procedure</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/IO.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ref-div">
    <ion-item detail="true" (click)="openItem('inside/tabs/refrence-content/10')">
      <ion-label class="ion-text-wrap">
        <h3>915 - Sucking Chest Wound Procedure</h3>
        <p>Quick Reference</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/chest.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
