<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "inside/tabs/tab5">
      </ion-back-button>
    </ion-buttons>
    <ion-label>{{name}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <div class="d-flex flex-column">
      <div *ngFor="let head of headings; let i = index">
        <div>
          <h1 class="text-center">{{head}}</h1>
          <img src="../../../assets/{{images[i]}}" alt="" class="img-fluid d-block">
        </div>
      </div>
    </div>
  </ion-item>

  <div *ngIf="contacts">
    <div *ngFor="let number of contacts">
      <a href="tel:+{{number.no}}" class="text-dark no-underline">
      <ion-item class="mist-tel m-3" lines="none">
        <ion-label>{{number.name}}</ion-label>
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-item>
    </a>
    </div>
  </div>
</ion-content>
