<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
  <ion-col class="mx-2">
    <h2>About</h2>
    <p>This applications was designed for CCEMS to provide fast access to the CCEMS protocols.</p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col class="mx-2">
    <h2>Legend</h2>
    <p class="text-info">Blue text indicates the most recent changes made to that specific protocol.</p>
    <p class="text-success">Green text indicates changes made in the previous update.</p>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col class="mx-2">
    <h2>Contact</h2>
    <p>If you have any questions about the app, or simply want to provide feedback, please contact Diego at the link below.</p>
    <ion-item lines="full" href="mailto: contactdiego.carta@lifeware.us">
      <ion-label> Contact Diego @ LifeWare llc</ion-label>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <div class="mx-3">
      <h4 id="information-heading732" style="color:#000000;font-weight:600;">Changelog</h4>
      <div id="information-markdown1544" class="show-list-numbers-and-dots">
        <p style="color:#0000FF;">
          <strong>Sept 20, 2021</strong>
        </p>

        <p> Release of LCFD App!  </p>
      </div>

    </div>

  </ion-col>
</ion-row>


<div class="mx-auto justify-content-center">
  <ion-button (click) ="signOut()" class="m-5" expand="block">Sign Out</ion-button>
</div>



</ion-content>
