<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-primary">
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-avatar class="div-center my-5">
        <img src="../../assets/avatar.png" class="img-fluid">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <form class="border border-2" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <ion-item class="">
          <ion-label position="fixed">Username</ion-label>
          <ion-input type="email" ngModel name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Password</ion-label>
          <ion-input type="password" ngModel name="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit">Login</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
