<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "inside/tabs/tab1" >
      </ion-back-button>
    </ion-buttons>
    <ion-label>{{name}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="introduction">
  <div class="mx-3">
    <h2 id="introduction-heading859" style="color:#000000;text-align:center;">Introduction</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="introduction-container116">
      <div id="introduction-markdown2005" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="introduction-markdown2006" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Welcome:</strong>
      </p>

      <p style="color:#000000;">The following document consists of triage, transport, standing orders and patient care protocols for those licensed and designated EMS units that are contracted to the Cache County EMS Authority. These units include: </p>

      <ol>
        <li>Logan Fire Department</li>
        <li>Smithfield Fire Department/Cache County EMS</li>
        <li>Any fire department and/or QRU that utilizes the off-line medical control physician as provided by and has a current contract for EMS operations and/or extrication with the Cache County EMS Authority</li>
        <li>CCEMS is a multi-tiered EMS systems composed of Fire, Search and Rescue, Quick Response Units and Paramedic Rescue /Advanced EMT Ambulance services. Personnel are certified by BEMS to the EMT, Advanced EMT and Paramedic levels. As such these protocols
          reflect these three certification levels. To cover different responding personnel, it is understood that those with a higher levels of certification shall complete all tasks assigned to a lesser certification level in the event they are the
          initial care providers. </li>
      </ol>

      <p style="color:#000000;">The State of Utah, Bureau of Emergency Medical Services administrative rules, set forth the requirements of off-line medical control.</p>
    </div>
    <div id="introduction-markdown2007" class="show-list-numbers-and-dots"></div>
    <div id="introduction-markdown2008" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2009" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>R426-15-401. Medical Control</strong>
      </p>

      <ol>
        <li>All licensees, designated dispatch centers, and quick response units must enter into a written agreement with a physician to serve as its off-line medical director to supervise the medical care or instructions provided by the field EMS personnel
          and dispatchers.</li>
        <li>The off-line medical director shall:
          <ul>
            <li>develop and implement patient care standards which include written standing orders and triage, treatment, and transport protocols or pre-arrival instructions to be given by designated emergency medical dispatch centers.</li>
            <li>Ensure the qualification of field EMS personnel involved in patient care and dispatch through the provision of ongoing continuing medical education programs and appropriate review and evaluation</li>
            <li>Develop and implement an effective quality improvement program, including medical audit, review, and critique of patient care </li>
            <li>Annually review triage, treatment, and transport protocols and update them as necessary</li>
            <li>Suspend from patient care, pending Department review, any field EMS personnel who does not comply with local medical triage, treatment and transport protocols, pre-arrival instruction protocols, or who violates any of the EMS rules, or who
              the medical director determines is providing emergency medical service in a careless or unsafe manner. The medical director must notify the Department within one business day of the suspension</li>
          </ul>
        </li>
      </ol>
    </div>
    <div id="introduction-markdown2010" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2011" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL responding EMS unit affiliated with the Cache County EMS Authority shall refer to EMS administrative rule: R426-15-402. Scene and Patient Management.</strong>
      </p>

      <ol>
        <li>Upon arrival at the scene of an injury or illness, the field EMS personnel shall secure radio or telephonic contact with on-line medical control as quickly as possible</li>
        <li>If radio or telephonic contact cannot be obtained, the field EMS personnel shall so indicate on the EMS report form and follow local written protocol</li>
      </ol>
    </div>
    <div id="introduction-markdown2012" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2013" class="show-list-numbers-and-dots">
      <p style="color:#000000;">As additionally set forth in the EMS rules and per off-line medical control mandate it shall be noted that:</p>

      <ol>
        <li>As noted throughout this document the abbreviation
          <strong>“OLMC”</strong> shall denote
          <strong>“On Line Medical Control”. For these protocols OLMC shall denote a Licensed Emergency Department Physician who will give medical direction to CCEMS units in the field. As noted in BEMS rules, a PA, NP, RN in direct voice communication with the
            physician may relay their directions. Proper documentation on the PCR shall include the name of the OLMC physician and the name of any other individual who is relaying medical direction</strong>
        </li>
        <li>Paramedics acting within their approved scope of practice and functioning as agents of the Cache County EMS Authority shall utilize the following document as standing orders except where it is specified that Medical Control shall be contacted
          before performing a specific treatment or drug administration. Regardless, they should contact Online medical control at the earliest possible opportunity. CCEMS authority Advanced EMT’s shall contact Online Medical Control prior to administering
          any medication with the exceptions noted in Section # 5. </li>
        <li>
          <p style="color:#000000;">While on scene with a CCEMS Paramedic and an CCEMS Ambulance AEMT, the Paramedic can authorize the AEMT to administer a medication or treatment that would normally require the AEMT to contact OLMC prior to giving if: </p>
          <ul>
            <li>
              <p style="color:#000000;">The medication or procedure is within the AEMT’s State approved scope of practice to give-preform and the AEMT is certified and approved to administer by CCEMS.</p>
            </li>
            <li>
              <p style="color:#000000;">The AEMT shall document the order and the authorizing Paramedic on the PCR</p>
            </li>
            <li>
              <p style="color:#000000;">The PM shall stay with the patient and ensure the correct medication and dose will be given and shall retain full responsibility. </p>
            </li>
            <li>
              <p style="color:#000000;">A Paramedic shall not order the AEMT to administer or perform a procedure or administer a medication beyond the AEMT’s scope of practice. </p>
            </li>
            <li>
              <p style="color:#000000;">A Paramedic shall not authorize the AEMT to give additional future doses of a medication without the Paramedic being physically present at the time of administration. </p>
            </li>
            <li>
              <p style="color:#000000;">Once on scene it is recognized the Paramedic will always be the Primary Care Provider and the PCR shall reflect this. </p>
            </li>
            <li>
              <p style="color:#000000;">If there is no Paramedic on scene the AEMT shall abide by the provisions of AEMT Standing Orders and shall follow all Protocols as written. </p>
            </li>
          </ul>
        </li>
        <li>
          <p style="color:#000000;">All certified EMT and/or Advanced-leveled EMT’s operating as first responders, or Quick Response Units as contracted under Cache County EMS Authority, Do Not have standing orders and must establish online medical control prior to any medication
            or IV administration with the exception of Oxygen. Protocols may be utilized if unable to contact medical control as per Bureau of EMS rule 425-15-402 (2) and the reason documented in the EMS PCR report</p>
        </li>
        <li>Only those medications found in the 1000 Series Protocols as approved by the off-line Medical Control Physician are to be used by CCEMS personnel</li>
        <li>An exception is recognized for those EMT-Advanced assigned to a Cache County EMS Authority ambulance who while attached to an ambulance and dispatched to a scene may prior to establishing on-line medical control (OLMC):
          <ul>
            <li>Start an IV with NS</li>
            <li>In a cardiac arrest deliver 1 round of rhythm appropriate ACLS medications</li>
            <li>In a verified hypoglycemic patient give an appropriate dose of
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/9')">Dextrose D50</a> (D50- D25-D10 ) or
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/14')">Glucagon</a> if unable to establish venous access</li>
            <li>In a patient with nausea/vomiting, or as an adjunct to narcotic administration may give an appropriate dose of
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/35')">Zofran</a>
            </li>
            <li>In a suspected narcotic overdose with a decreased LOC and associated bradypnea/hypoxia may given an appropriate dose of
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/26')">Naloxone</a>
            </li>
            <li>In an actively seizing patient administer 1 dose of the approved benzodiazepine</li>
            <li>Insert a supraglottic airway</li>
          </ul>
        </li>
      </ol>
    </div>
    <div id="introduction-markdown2014" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2015" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Logan Regional Hospital Emergency Department and Cache Valley Hospital are 800 mHz radio available 24 hours a day on the Hospital common channel. The direct phone number at Logan Hospital Emergency to establish on-line medical is 435-755-6642 and
        for Cache Valley Hospital 435-881-8575. </p>

      <p style="color:#000000;">Cache County EMS dispatch may also be utilized to relay information to either Emergency department and obtain on-line medical control direction. </p>

      <p style="color:#000000;">These protocols/standing orders shall be reviewed annually by the designated off-line medical control physician and updated accordingly. </p>

      <p style="color:#000000;">The off-line medical control physician reserves the right to change, add to or delete any protocol or portion of, at any time. </p>

      <p style="color:#000000;">Any affiliate member or department may petition the off-line medical control physician for additions or revisions based on new technology or approved concepts. </p>

      <p style="color:#000000;">It is recognized that there are accredited entities such as American Heart Association that sponsor and certify EMS personnel for certain levels of training/competencies such as (ACLS, PALS, and CPR). Such certifications and recognition to follow
        the guidelines of these programs are solely at the discretion and approval of the off-line medical control physician and if approved those certified may follow those guidelines. </p>

      <p style="color:#000000;">Additional certification courses may be presented to the off-line medical control physician for consideration and adoption. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="../../../assets/sign.jpg" style="display:block;width:50%;height:auto;">
    </div>
    <div id="introduction-markdown2016" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">William Betz</p>

      <p style="color:#000000;">October 19, 2020</p>
    </div>

  </div>

</ion-content>


<ion-content *ngIf="!introduction">


  <ion-item lines="full" (click)="openInfo('inside/tabs/category-info/'+ level)">
    <ion-label>{{name}}</ion-label>
    <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
  </ion-item>

  <ion-item lines="full" (click)="openInfo('inside/tabs/category-info/5')" *ngIf=" level === '4'">
    <ion-label>Utah Trauma System Advisory Committiee</ion-label>
    <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
  </ion-item>


  <h2 class="text-center" *ngIf="protocols" class="f-1 text-center">Protocols</h2>
  <div *ngFor="let protocol of protocols; let i = index">
    <ion-list class="py-0">
      <ion-item lines="full" (click)="openProtocol('inside/tabs/protocols-content/',i)">
        <ion-label>{{protocol}}</ion-label>
        <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="mt-5"></div>


</ion-content>
