<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref = "inside/tabs/tab1" >
      </ion-back-button>
    </ion-buttons> -->
    <ion-button slot="start" (click)="backButton()" mode="ios">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Back
    </ion-button>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="introduction">
  <div class="mx-3">
    <h2 id="introduction-heading859" style="color:#000000;text-align:center;">Introduction</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="introduction-container116">
      <div id="introduction-markdown2005" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="introduction-markdown2006" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Welcome:</strong>
      </p>

      <p style="color:#000000;">The following document consists of triage, transport, standing orders and patient care protocols for Logan City Fire Department. Logan City Fire Department (LCFD) is a multi-tiered EMS system composed of Fire, Search and Rescue, Paramedic Rescue/Advanced EMT Ambulance services. Personnel are certified by BEMS to the Advanced EMT and Paramedic levels. As such thes protocols reflect these two certification levels. To cover different responding personnel, it is understood that those with a higher level of certification shall complete all tasks assigned to a lesser certification level in the event they are the initial care providers. 
      </p>


      <p style="color:#000000;">The State of Utah, Bureau of Emergency Medical Services administrative rules, set forth the requirements of off-line medical control.</p>
    </div>
    <div id="introduction-markdown2007" class="show-list-numbers-and-dots"></div>
    <div id="introduction-markdown2008" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2009" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>R426-15-401. Medical Control</strong>
      </p>

      <ol>
        <li>All licensees, designated dispatch centers, and quick response units must enter into a written agreement with a physician to serve as its off-line medical director to supervise the medical care or instructions provided by the field EMS personnel and dispatchers.</li>
        <li>The off-line medical director shall develop and implement patient care standards which include written standing orders and triage, treatment, and transport protocols or pre-arrival instructions to be given by designated emergency medical dispatch centers.</li>
        <li>The off-line medical director shall ensure the qualification of field EMS personnel involved in patient care and dispatch through the provision of ongoing continuing medical education programs and appropriate review and evaluation;</li>
        <li>The off-line medical director shall:(a) develop and implement an effective quality improvement program, including medical audit, review, and critique of patient care;(b) annually review triage, treatment, and transport protocols and update them as necessary;(c) suspend from patient care, pending Department review, a field EMS personnel or dispatcher who does not comply with local medical triage, treatment and transport protocols, pre-arrival instruction protocols, or who violates any of the EMS rules, or who the medical director determines is providing emergency medical service in a careless or unsafe manner. The medical director must notify the Department within one business day of the suspension.</li>
      </ol>
    </div>
    <div id="introduction-markdown2010" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2011" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Administrative rule: R426-15-402. Scene and Patient Management.</strong>
      </p>

      <ol>
        <li>Upon arrival at the scene of an injury or illness, the field EMS personnel shall secure radio or telephonic contact with on-line medical control as quickly as possible</li>
        <li>If radio or telephonic contact cannot be obtained, the field EMS personnel shall so indicate on the EMS report form and follow local written protocol</li>
      </ol>
    </div>
    <div id="introduction-markdown2012" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2013" class="show-list-numbers-and-dots">
      <p style="color:#000000;">As additionally set forth in the EMS rules and per off-line medical control mandate it shall be noted that:</p>

      <ol>
        <li>A-EMTs and Paramedics acting within their approved scope of practice and are functioning as agents of Logan City Fire Department shall utilize the following protocols as standing orders except where it is specified that Medical Control shall be contacted <u><strong>before</strong></u> performing a specific treatment or drug administration. Regardless, they should contact On-Line medical control at the earliest possible opportunity.</li>
        <li>A further exemption is recognized for those Paramedic and  EMT-Advanced assigned to Logan City Fire Department and have not passed all of their medications through the FTO training process and are dispatched to a scene may prior to establishing on-line medical control:
        </li>
          <ul>
            <li>Start an IV with NS</li>
            <li>In a cardiac arrest deliver 1 round of rhythm appropriate ACLS medications</li>
            <li>In a verified hypoglycemic patient give an appropriate dose of Oral Dextrose or
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/14')">Glucagon</a> if unable to establish venous access</li>
            <li>In a patient with nausea/vomiting, or as an adjunct to narcotic administration may give an appropriate dose of
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/35')">Zofran</a>
            </li>
            <li>In a suspected narcotic overdose with a decreased LOC and associated bradypnea/hypoxia may given an appropriate dose of
              <a  class="text-danger text-underline" (click)="sublink('inside/tabs/drugs-content/26')">Naloxone</a>
            </li>
            <li>All other medications may not be given without Senior Paramedic or Medical Control approval</li>
          </ul>        
      </ol>
    </div>
    <div id="introduction-markdown2014" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="introduction-markdown2015" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Logan Regional Hospital Emergency Department and Cache Valley Hospital are 800 mHz radio available 24 hours a day on the Hospital common channel. The direct phone number at Logan Hospital Emergency to establish on-line medical is 435-755-6642 and
        for Cache Valley Hospital 435-881-8575. </p>

      <p style="color:#000000;">Logan City dispatch may also be utilized to relay information to the Emergency department and obtain on-line medical control direction. </p>

      <p style="color:#000000;">It is recognized that these protocols/standing orders function along with the Bureau of EMS’s TTP’s and TTG’s but if there is conflict then the off-line protocols shall take preference in patient care activities. 
      </p>

      <p style="color:#000000;">These protocols/standing orders shall be reviewed annually by the designated off-line medical control physician and updated accordingly. </p>

      <p style="color:#000000;">The off-line medical control physician reserves the right to change, add to or delete any protocol or portion of, at any time. </p>

      <p style="color:#000000;">Any affiliate member of Logan City Fire Department may petition the EMS Committee to obtain permission from the off-line medical control physician for additions or revisions based on new technology or approved concepts. </p>

      <p style="color:#000000;">It is recognized that there are accredited entities such as American Heart Association that sponsor and certify EMS personnel for certain levels of training/competencies such as (ACLS, PALS, and CPR). Such certifications and recognition to follow the guidelines of these programs are solely at the discretion and approval of the off-line medical control physician and if approved those certified may follow those guidelines.
      </p>

      <p style="color:#000000;">Additional certification courses may be presented to the off-line medical control physician for consideration and adoption. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="../../../assets/sign.jpg" style="display:block;width:50%;height:auto;">
    </div>
    <div id="introduction-markdown2016" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">William Betz</p>

      <p style="color:#000000;">June 21, 2022</p>
    </div>

  </div>

</ion-content>


<ion-content *ngIf="!introduction">


  <ion-item lines="full" (click)="openInfo('inside/tabs/category-info/'+ level)">
    <ion-label>{{name}}</ion-label>
    <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
  </ion-item>

  <ion-item lines="full" (click)="openInfo('inside/tabs/category-info/5')" *ngIf=" level === '4'">
    <ion-label>Utah Trauma System Advisory Committee</ion-label>
    <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
  </ion-item>


  <h2 class="text-center" *ngIf="protocols" class="f-1 text-center">Protocols</h2>
  <div *ngFor="let protocol of protocols; let i = index">
    <ion-list class="py-0">
      <ion-item lines="full" (click)="openProtocol('inside/tabs/protocols-content/',i)">
        <ion-label>{{protocol}}</ion-label>
        <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="mt-5"></div>


</ion-content>

