<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Category</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-list lines="none">
    <ion-item detail="true" (click)="openItem('inside/tabs/category-content/0')">
      <ion-label class="ion-text-wrap">
        <h2>Introduction</h2>
        <p>CCEMS Protocols Intro</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/medical-history.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item detail="true" (click)="openItem('inside/tabs/category-content/1')">
      <ion-label class="ion-text-wrap">
        <h2>General Patient Care Guidelines</h2>
        <p>Protocols 1-8</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/medical-equipment.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item detail="true" (click)="openItem('inside/tabs/category-content/2')">
      <ion-label class="ion-text-wrap">
        <h2>Cardiac Patient Care Guidelines</h2>
        <p>Protocols 9-15</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/cardiogram.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item detail="true" (click)="openItem('inside/tabs/category-content/3')">
      <ion-label class="ion-text-wrap">
        <h2>Medical Patient Care Guidelines</h2>
        <p>Protocols 16-30</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/ambulance.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item detail="true" (click)="openItem('inside/tabs/category-content/4')">
      <ion-label class="ion-text-wrap">
        <h2>Trauma Patient Care Guidelines</h2>
        <p>Protocols 31-38</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="../../assets/band-aid.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>

</ion-content>
